a{
    text-decoration: none !important;
}


form{
    padding: 100px  0px!important;
}

form input{
    height: 50px !important;
    border-radius: 0px !important;
  
}

form .show-btn a{
    padding: 12px 10px !important;
    background: red !important;
    color: #fff !important;
}

form input:focus{
    box-shadow: none !important;
}
table td .delete{
    color:red !important;
}
table td .update{
    color:green !important;
    
}







   
